# STM32CubeIDE
.metadata/

**/Debug/
STM32F7_HIL/Debug/
STM32F4_HIL/Debug/
STM32F4_DUT/Debug/
STM32F1_DUT/Debug/

*.o
*.d
*.elf
*.hex
*.bin
*.map
*.list
*.siz

STM32F7_HIL/.settings/
STM32F7_HIL/.project
STM32F7_HIL/.cproject

STM32F4_HIL/.settings/
STM32F4_HIL/.project
STM32F4_HIL/.cproject

STM32F4_DUT/.settings/
STM32F4_DUT/.project
STM32F4_DUT/.cproject

STM32F1_DUT/.settings/
STM32F1_DUT/.project
STM32F1_DUT/.cproject

# CubeMX
*.ioc.autosave
*.mxproject

# OS
Thumbs.db
.DS_Store
